<h1><%= h @serial.product %></h1>

<% form_for(@serial) do |f| %>

<table border="0">
 <tr>
  <td><%= f.label :serial %>:</td>
  <td><%= h @serial.serial %></td>
 </tr>

 <% if !@serial.additional_code.empty? then %>
 <tr>
  <td><%= f.label :additional_code %>:</td>
  <td><%= h @serial.additional_code %></td>
 </tr>
 <% end %>

 <% if !@serial.registered_to.empty? then %>
 <tr>
  <td><%= f.label :registered_to %>:</td>
  <td><%= h @serial.registered_to %></td>
 </tr>
 <% end %>

 <tr>
  <td><%= f.label :reg_date %>:</td>
  <td><%= h @serial.reg_date %></td>
 </tr>

</table>

<% end %>

<%= link_to 'Edit', edit_serial_path(@serial) %> |
<%= link_to 'Back', serials_path %>
